.jumbotron{
  color: white;
  background-color: darkblue;
  align-content: center;
  text-align: center;
  background-image: url(champs.jpg);
  background-size: cover;

}
body {
  background-color: darkblue;
}
